# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\untitled3\for_bestTV\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
